.loginForm {
  width: 30%;
}

.mainDiv {
  display: flex;
  align-items: center;
}

.loginInput,
.loginButton,
.singup {
  border-radius: 20px;
  height: 50px;
  width: 50%;
  align-self: center;
}

.imgDiv {
  width: 50%;
}

.loginSvg {
  width: 500px;
}
