.welcomeSection {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
}

.first {
  color: #e97348;
}
.button1 {
  background-color: #e97348;
}

.second {
  color: #2d2d2d;
}
.button2 {
  background-color: #2d2d2d;
}
.third {
  color: #d48219;
}
.button3 {
  background-color: #d48219;
}
.forth {
  color: #2d2d2d;
}
.button4 {
  background-color: #2d2d2d;
}

.info {
  width: 50%;
  padding: 0 60px;
  padding-top: 20px;
}

.info > h1 {
  font-size: 75px;
  margin: 0;
  position: relative;
  top: -30px;
}

.exploreButton {
  width: 250px;
  height: 60px;

  color: white;
  font-size: 25px;
}
.infoImage {
  /* width: 50%; */
}
