.category-button {
  margin: 0px 10px 5px 5px;
  height: 50px;
  padding: 50px;
  background-size: contain;
  color: white;
}

/* .overlay {
  background: red;
  display: flex; */
/* padding: 50px; */
/* } */
